.ourspace {
    max-width: 80%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    width: 1100px;
}

#firstpic {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: 10%;
}

.firstpic {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: 10%;
}

.backgroundgrey {
    background-color: #F0F0F5;
}

h1 {
    font-weight: bold;
    font-family: Verdana;
    font-size: 300%;
    vertical-align: middle;
    text-align: center;
}

.schedulePhilo {
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
}

.textStyle {
    font-size: 200%;
    text-align: justify;
    vertical-align: middle;
    text-align: center;
}

object {
    text-align: center;
    max-width: 100%;
}

h4 {
    font-family: Courier;
    font-size: 30px;
    text-align: center;
}

.icon {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.foot {
    font-size: 100%;
    margin-top: 30px;
    background-color: #1995dc;
    color: white;
    margin-bottom: auto;
    text-align: center;
}

.googleMap {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 200px;
    max-width: 100%;
}

.trans-text {
    margin-top: 5%;
    text-align: left;
}

#metro {
    max-width: 100%;
    margin-top: 25%;
}

.col-md-12 {
    margin-bottom: 2%;
}

p.equipText {
    text-align: left;
    font-size: 150%;
}

.img-align {
    padding-top: 10%;
    padding-bottom: 10%;
}

.img-align img {
    height: 80%;
}

.link-separator a {
    margin-right: 10px;
}

.link-separator a:hover {
    color: darkorange;
    cursor: pointer
}

a.disabled {
    opacity: 0.3 pointer-events : none cursor : default
}

.divider_jackie {
    margin-top: 30px;
}

.divider_jackie i {
    color: #cccccc;
}

.divider_jackie:before, .divider_jackie:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.divider_jackie:before {
    right: 10px;
}

.divider_jackie:after {
    left: 10px;
}

.schedule th, td {
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

.schedule td {
    padding: 5px 10px;
}

.schedule th {
    background: #666;
    color: white;
    padding: 5px 10px;
}

.schedule td:hover {
    cursor: pointer;
    background: #666;
    color: white;
}

.breadcrumb li:hover {
    cursor: pointer;
    color: #1995dc;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
}

.navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
}

.divider_jackie {
    color: #317eac;
    font-weight: 600;
    font-size: 150;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
    margin: 20px;
}

.horizantal li{
    display: inline;
}
.horizantal li:hover{
    cursor: pointer;
    background: #000000;
    color: white;
}
